<div class="nav-banner">
  <div class="site-logo">
    <img src="../../public/images/sun.svg" alt="sun">
    <h1>MINDFULNESS</h1>
  </div>
  <div class="desktopView">
    <div class="links">
      <a href="#">Home</a>
      <a href="#">Page 2</a>
      <a href="#">Page 3</a>
      <a href="#">Page 4</a>
    </div>
    <div class="login">
      <a>Log In</a>
    </div>
  </div>

  <div class="mobileView">

    <button id="menuButton" class="hamburger-menu">☰</button>

    <div id="slidingMenu" class="sliding-menu">
      <button id="closeButton" class="close-button">✖</button>
      <h2>Menu</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>

</div>
