:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction:column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Start of Header CSS */

.nav-banner {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
}

.site-logo {
  display: flex;
  flex-direction:row;
  align-items:center;
}

.site-logo img {
  height:50px;
  width:50px;
  margin-left:16px;
}

.site-logo h1 {
  margin:0 0 0 24px;
  font-size:2em;
}

.links, .login {
  display:none;
}

.login {
  margin-right:16px;
}

.hamburger-container a {
  width: 70%;
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
  cursor:pointer;
}

.hamburger {
  margin: 0 auto;
  /*margin-top: 30px;*/
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: maroon;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

/* HAMBURGER 1 */
.checkbox1:checked + label > .hamburger1 > .bar1{
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px;
}

input[type="checkbox"] {
  display:none;
}

label[for="checkbox1"] {
  cursor:pointer;
}

:modal {
  border: 2px solid #ddaf11;
  background-color: #aaaaaa;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
  border-radius:10px;
}

.overlay-content {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.overlay-content a {*/
/*  margin-top: 10px;*/
/*  font-size: 20px;*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/*.overlay {*/
/*  position: absolute;*/
/*  top: 20px;*/
/*  right: 45px;*/
/*  font-size: 60px;*/
/*}*/

/* End of Header CSS */

/* Start of Main CSS */

main {
  height: 75vh;
}

/* End of Main CSS */

/* Start of Footer CSS */

#site-footer {
  display: flex;
  justify-content: center;
  align-items:center;
  background: #ddaf11;
  height:3.5em;
  font-size: 10px;
}

/* End of Footer CSS */
